<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, dignissimos nemo dolorem, distinctio iste temporibus? Rem officiis autem cumque, tempora.</p>
  <p>{{ screamIt 'hello darkness my old friend' }}</p>
  {{> footer}}
</body>
</html>