<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
</head>
<body>
  {{> header}}

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vitae dicta, quia impedit dolore expedita nobis, in laboriosam autem praesentium ducimus ex reiciendis nisi consectetur alias? Cupiditate accusantium, debitis itaque facere! Nisi hic autem libero fugit sequi atque officiis, illum non id odio nihil quis voluptates impedit praesentium ratione nostrum.</p>

  <p>{{screamIt 'Lorem ipsum dolor sit amet.'}}</p>

  {{> footer}}
</body>
</html>